<div>
    <!-- <div class="tag-btn">
        <button class="btn btn-lg btn-primary" [ngClass]="{'btn-primary': type === '1'}"
            (click)="tagClick('1')">查询借阅</button>
        <button class="btn btn-lg btn-primary" [ngClass]="{'btn-primary': type === '2'}"
            (click)="tagClick('2')">归还</button>
        <button class="btn btn-lg btn-primary" [ngClass]="{'btn-primary': type === '3'}"
            (click)="tagClick('3')">图书管理</button>
        <button class="btn btn-lg btn-primary" [ngClass]="{'btn-primary': type === '4'}"
            (click)="tagClick('4')">日志</button>
        <button class="btn btn-lg btn-primary" [ngClass]="{'btn-primary': type === '5'}"
            (click)="tagClick('5')">排行榜</button>
    </div>
    <hr /> -->
    <ul nz-menu nzMode="horizontal">
        <li nz-menu-item routerLink="/library/queryUser">查询借阅</li>
        <li nz-menu-item>归还</li>
        <li nz-menu-item routerLink="/library" nzSelected>图书管理</li>
        <li nz-menu-item>日志</li>
        <li nz-menu-item>排行榜</li>
    </ul>

    <router-outlet></router-outlet>

</div>