#table-container{
    padding: 20px;
}
.breadcrumb-container{
    margin-bottom: 30px;
}
.search-container{
    margin: 0 auto;
}
.row-gutter{
    margin: 10px 0;
}
#table-container .table-main{
    margin-top: 40px;
}
#table-container .btns{
    margin-top: 20px;
}