.breadcrumb-container{
    margin-bottom: 30px;
}
.search-container{
    margin: 0 auto;
}
.row-gutter{
    margin: 10px 0;
}
#table-container .table-main{
    margin-top: 40px;
}
#table-container .btns{
    margin-top: 20px;
}
.ant-modal{
    width: 800px;
}
.modal-content{
    /* display: flex; */
    /* flex-direction: row; */
}
.update-img{
    /* flex: 1; */
}
