[nz-button] {
  margin-right: 8px;
  margin-bottom: 12px;
}
.box-block{
  display: block !important;
}
.box-none{
  display: none;
}
.btns{
  display: center;
  justify-content: center;
  align-items: center;
}