#table-container{
    padding: 20px 6%;
}
#table-container .breadcrumb-container{
    margin-bottom: 30px;
}
#table-container .search-container{
    margin: 0 auto;
}
.row-gutter{
    margin: 10px 0;
}
#table-container .table-main{
    margin-top: 40px;
}
#table-container .btns{
    margin-top: 20px;
}
/* 图书详情 */
.bookDetail {
    float: left;
    width: 340px;
    margin: 0 auto;
    margin-left: 76px;
}
/* 图书图片 */
.bookimg {
    float: left;
    width: 120px;
    height: 146px;
    background-size: cover;
    margin-left: 90px;
}
