.breadcrumb-container {
    margin-bottom: 30px;
}

.G2plotBox {
    /* display   : flex;
    margin-top: 50px; */
    margin-top: 50px;
    max-height: 500px;
    flex-flow: row nowrap;
}
.g2-chart{
    max-width: 500px;
    display: inline-block;
}
/* 
#bookRankList {
    flex: 1;
    width: 300px;
    height: 500px;
    padding: 10px;
    margin: 10px;
}

#userRankList {
    flex: 0.8;
    margin-top: 200px;
    margin-left: 100px;
    width: 300px;
    height: 500px;
    padding: 10px;
    margin: 10px;
} */