<nz-layout>
  <nz-header>
    <div class="logo">图书管理系统LOGO</div>
  </nz-header>
  <nz-content>
    <nz-breadcrumb>
      <nz-breadcrumb-item class="welcomeTitle">欢迎登录图书管理系统</nz-breadcrumb-item>
    </nz-breadcrumb>
    <div class="inner-content">
      <!-- ---------------------------------注册------------------------------------ -->
      <div class="centerContent">
        <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()" class="form">

          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="nickname" nzRequired>
              <span>
                用户名
                <i nz-icon nz-tooltip nzTooltipTitle="What do you want other to call you" nzType="question-circle"
                  nzTheme="outline"></i>
              </span>
            </nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your nickname!">
              <input nz-input id="nickname" formControlName="nickname"  (blur)="nickNameChanges($event)"/>
              <h4 *ngIf="errorUserName" style="color: brown;"> 用户名被抢了 换一个吧 </h4>

            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="password" nzRequired>密码</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Please input your password!">
              <input nz-input type="password" id="password" formControlName="password"
                (ngModelChange)="updateConfirmValidator()" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzFor="checkPassword" nzRequired>确认密码</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" [nzErrorTip]="errorTpl">
              <input nz-input type="password" formControlName="checkPassword" id="checkPassword" />
              <ng-template #errorTpl let-control>
                <ng-container *ngIf="control.hasError('required')">
                  Please confirm your password!
                </ng-container>
                <ng-container *ngIf="control.hasError('confirm')">
                  Two passwords that you enter is inconsistent!
                </ng-container>
              </ng-template>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired nzFor="email">邮箱</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
              <input nz-input formControlName="email" id="email" />
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>生日</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="choose your birthday~">
              <nz-date-picker formControlName="birthday"></nz-date-picker>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>年级</nz-form-label>
            <nz-form-control [nzSm]="14" [nzXs]="24" nzRequired nzErrorTip="choose your grade!">

              <nz-cascader [nzOptions]="nzOptions" [(ngModel)]="grade" (ngModelChange)="gradeChanges($event)"
                [ngModelOptions]="{standalone: true}"> </nz-cascader>

            </nz-form-control>
            <div class="showAlert" *ngIf="Needgrade && !grade">choose your grade!</div>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>性别</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzRequired nzErrorTip="
          
          Please confirm your gender!">
              <nz-radio-group formControlName="sexValue" nzButtonStyle="solid" class="sexBox">
                <label nz-radio-button nzValue="man">🚹男</label>
                <label nz-radio-button nzValue="female">🚺女</label>
              </nz-radio-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSm]="7" [nzXs]="24" nzRequired>用户类型</nz-form-label>
            <nz-form-control [nzSm]="18" [nzXs]="24" nzRequired nzErrorTip="
        
          Please confirm your identity!">
              <nz-radio-group formControlName="userType" nzButtonStyle="solid" class="sexBox">
                <label nz-radio-button nzValue="user">👱‍♂️用户</label>
                <label nz-radio-button nzValue="admin">👩‍💻管理员</label>
              </nz-radio-group>

            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-control [nzSm]="15" [nzXs]="24" class="hobbyBox">
              <div style="border-bottom: 1px solid rgb(233, 233, 233);">
                <label nz-checkbox [(ngModel)]="allChecked" [ngModelOptions]="{standalone: true}"
                  (ngModelChange)="updateAllChecked()" [nzIndeterminate]="indeterminate">
                  兴趣爱好全选
                </label>
              </div>
              <br />

              <nz-checkbox-group [(ngModel)]="hobbyArray" [ngModelOptions]="{standalone: true}"
                (ngModelChange)="updateSingleChecked()"></nz-checkbox-group>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-form-label [nzSpan]="7">Comment</nz-form-label>
            <nz-form-control [nzSpan]="12" nzErrorTip="Please write something here!">
              <textarea formControlName="comment" nz-input rows="2" placeholder="write any thing"></textarea>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item nz-row class="register-area">
            <nz-form-control [nzSpan]="4" [nzOffset]="8">
              <button nz-button nzType="primary">注册</button>
            </nz-form-control>
            <!-- 一个 nz-row 内的 nz-col 总格数（[nzSpan] 总和）为24表示一行，如果超过会自动换行。 -->
            <nz-form-control [nzSpan]="2" [nzOffset]="2">
              <button nz-button nzType="primary" (click)="return()" style="background-color: gray;">返回</button>
            </nz-form-control>
          </nz-form-item>

        </form>
      </div>

      <!-- ----------------------------------  注册end ------------------------------------ -->
    </div>
  </nz-content>

  <nz-footer> Design ©2020 Implement By casually8Team</nz-footer>
</nz-layout>







<router-outlet></router-outlet>